<%- include("navbar") %>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- <style>
        html {
            font-family: 'Lato', sans-serif;
        }
    </style> -->
    <title>Recommended Songs Page</title>
    <!-- <link rel='stylesheet' href='/styles/style.css'> -->

    <link rel="stylesheet" href="/views/styles.css">

</head>
<body>




<div class="container">

<div class="row mt-3 mb-3">
    <h1 class="display-5 col-6">Your Spotify Data Analysis!</h1>
    <form action="/makePlaylist" method="post">
        <input type="text" name="playlistName" id="playlistName" placeholder="Playlist Name">
        <input type="text" name="playlistInfo" id="playlistInfo" hidden value="<%- playlist %>">
        <button class="btn btn-info" id="makeTopRecommendedPlaylist">Make Playlist!</button>
    </form>
    

    <!-- <form onsubmit="console.log('ell there m8');">
        <button class="btn btn-info" id="makeTopRecommendedPlaylist">Make Playlist!</button>
    </form> -->
    
</div>  

<% var totalValence = 0 %>
<% var totalDance = 0 %>
<% var totalPop = 0 %>
<% var recommendedCount = 0 %>
<% for (var t = 0; t < listTracks.length; t++) { %>
    <% totalValence += listTracks[t].valence %>
    <% totalDance += listTracks[t].danceability %>
    <% totalPop += listTracks[t].popularity %>
    <% recommendedCount++ %>
<% } %>


<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body p-1">
                <p class="text-center p-0 m-0">Average Danceability: <%= Math.round(totalDance*100/recommendedCount) %></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body p-1">
                <p class="text-center p-0 m-0">Average Energy: <%= Math.round(totalPop*100/recommendedCount) %></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body p-1">
                <p class="text-center p-0 m-0">Average Valence: <%= Math.round(totalValence*100/recommendedCount)%></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <canvas id="myChart" ></canvas>
    </div>
    <div class="col-md-4" >
        <h4>Your <%= listTracks.length %>  Recommended Songs</h4>
        <div id="songScrollList" style="max-height: 400px; overflow-y: scroll;">
            <% for (var j = 0; j < listTracks.length; j++) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= listTracks[j].name %> by <%= listTracks[j].artist %></h5>
                        <span class="card-text">Based on: <%= listTracks[j].originalSongRelation %> by <%= listTracks[j].originalArtistRelation %></span>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div class="container col-md-8">
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bubble',

        // The data for our dataset
        data: {
            datasets: [
                <% for (var y = 0; y < listTracks.length; y++) { %>
                            { label: '<%= listTracks[y].name %> by <%=listTracks[y].artist %>',
                            data: [
                                    { x: <%= Math.round(listTracks[y].danceability * 100) %>,
                                        y: <%= Math.round(listTracks[y].popularity * 100) %>,
                                        r: <%= Math.round(listTracks[y].valence * 25)    %> } 
                                    ],
                            backgroundColor: '#1db954'
                            },
                <% } %>
            ],
        },
        options: {
            legend: {
                display: false,
                fullWidth: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }],
                xAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });
    </script>
    
</div>

</div>
</body>
